*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins";
}
body{
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
    width:100%
   
}
.container{
    position: relative;
    width:100%;
    padding:10px 20px 20px;
    border-radius: 12px;
    max-width:300px;
    background: black;
    box-shadow:0 5px 10px rgba(0,0,0,0.05);


}
.display{
    height:80px;
    width:100%;
    margin-bottom: 10px;
    font-size:25px;
    outline:none;
    border:none;
    text-align:right;
    background: black;
    color:white;
   
}
.buttons{
   display:grid;
   grid-template-columns: repeat(4,1fr); 
   grid-gap:10px;
   

}
.buttons button{
    cursor:pointer;
    border-radius:20px;
    border:none;
    height:40px;
    width:45px;
    font-size:20px;
    color:white;
    background: rgba(66, 63, 63, 0.781);

}
button:hover{
    background:  rgba(99, 95, 95, 0.781);

}
.buttons .btn{
    color:blue;
    font-size:18px;
}
.buttons .btns{
    background-color: rgb(65, 65, 237);
}
.buttons button:active{
    transform:scale(0.99);
}
